/* color variables */
:root {
  --light-green: #48bf84;
  --light-grey: #5a7668;
  --white: #ffffff;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

/* LAYOUT */
.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar content-primary content-primary"
    "sidebar  content-main content-main"
    "sidebar content-main content-main";
}

/* sidebar */
.sidebar {
  height: 100vh;
  width: 15%;
  background-color: var(--light-green);
  color: var(--white);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.branding {
  text-align: center;
  line-height: 0.1;
}
.branding-name {
  font-size: 34px;
}

.categories {
  margin-top: 60px;
}
.categories-title {
  font-weight: 600;
}
.categories-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-content_btn__structure {
  text-decoration: none;
  height: 30px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 24px;
  border-radius: 10px;
  text-decoration: none;
}
.categories-content_btn {
  color: var(--white);
  background-color: var(--light-grey);
}
.categories-content_btn__active {
  background-color: var(--white);
  color: var(--light-green);
}
.footer {
  position: absolute;
  bottom: 0;
}
.footer-link {
  color: var(--white);
  text-decoration: none;
  margin-left: 5px;
}
/* CONTENT */
.content {
  grid-area: content-primary;

  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 70px; */
  gap: 20px;
}
.content-main {
  grid-area: content-main;
  /* overflow: hidden; */

  margin: 0 5vw;
  margin-top: -15px;
}
.search-bar {
  background-color: var(--light-green);
  padding: 4px 10px;
  color: var(--white);
  width: 30%;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.search-bar_icon {
  margin-right: 12px;
  height: 40px;
  width: 30px;
}
.search-bar_inputField {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--white);
  width: 100%;
}
.search-bar_inputField::placeholder {
  color: var(--white);
}
.bookmark-bar {
  /* to make it entirely center since i changed its height */
  align-self: center;

  background-color: var(--light-green);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  height: 40px;
  width: max-content;
  padding: 0 10px;

  box-sizing: content-box;
}

/* CARD CONTAINER */
.card-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* margin: 0 5vw; */
}
.card-wrap-heading {
  text-align: center;
  color: var(--light-green);
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.card-container {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  overflow-x: scroll;
  padding: 30px;
  scroll-behavior: smooth;
  height: 100%;
  /* hiding scroll bar for IE, Edge and firefox */
  -ms-overflow-style: none; /*I.E & Edge*/
  scrollbar-width: none; /*Firefox*/
}
.card-container .card:last-child {
  margin-right: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.card-container::-webkit-scrollbar {
  display: none;
}
.card {
  display: flex;
  flex-direction: column;
  width: max-content;
  border-radius: 15px;
  box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
  height: 100%;
  cursor: pointer;
  margin-right: 12px;
}
.card:nth-child(last) {
  margin-right: 0px;
}
.card-img {
  height: 65%;
  width: 280px;
  border-radius: 15px;
}
.card-content {
  margin: 0 10%;
  height: 35%;
}
.card-title {
  font-size: 8px;
}
.cook-detail {
  background-color: #a584ec;
  color: var(--white);
  /* display: inline; */
  width: max-content;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.cook-icon {
  margin-right: 10px;
  font-size: 20px;
}
.dish-name {
  font-size: 18px;
  font-weight: 700;
}
.scroll-btn-container {
  align-self: flex-end;
}
.scroll-btn {
  border: none;
  /* background-color: var(--light-green); */
  margin: 5px;

  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.scroll-btn_passive {
  background-color: var(--white);
  border: 1px solid var(--light-green);
  color: var(--light-green);
  cursor: not-allowed;
}
.scroll-btn_active {
  background-color: var(--light-green);
  color: var(--white);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* margin-top: 150px; */
}
.error-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.error-msg {
  text-align: center;
  font-weight: 700;
}
/* detailed recipe */
.detail-container {
  background-color: red;
  width: 100%;
}
.detail-container__img {
height: 10%;
border-radius: 10px;
}
.ingredient-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px,0.3fr));
  grid-template-rows: repeat(6, min-content);
}

